{% extends 'testy.html' %}
{% load static %}


{% block title %}
Viewer
{% endblock title %}



{% block mapframe %}
<style>.embed-container {position: relative; padding-bottom: 85%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style> 
    <iframe class="embed-responsive-item" width="100%" height="100%" frameborder="5" scrolling="no" marginheight="5" marginwidth="5" title="xr" 
    src="https://arcgis.com/apps/Embed/index.html?webmap=4001d7656b0949cfa8a30a9a38b3bf91&extent=-113.5532,33.0206,-112.7519,33.7179"></iframe>
</div>
{% endblock mapframe %}